.tweet {
    border-bottom: 1px solid var(--twitter-background); 
    padding-bottom: 10px;
    display: flex;
    /* padding: 10px; */
}

.tweet__header {
    display: flex;
    align-content: center;
    padding: 10px;
    /* align-items: center; */
    margin-top: 10px;
}

.tweet__text > h2 {
    padding-top: 6px;
}

.tweet__image {
    /* padding: 10px; */
}

.tweet__displayName {
    font-size: 17px;
    /* padding: 10px */
}

.tweet__username {
    font-weight: 400;
    font-size: 14px;
    color: grey;
    margin-left: 5px;
}

.tweet > img , p {
    margin-top: -6px;
    margin-bottom: 10px;
    /* margin-left: 5px; */
}